Instructions: https://github.com/Fairfield-University-BA505/FinalProjectFA2019/blob/master/finalproject2021.md

New data set: https://www.kaggle.com/sagarkandpal/effectsofcovid19ontradeat14july2021

**Timeline/Workplan**

**Nov, 2:** Review assignment, form teams, and begin planning out the work. Do not create any shared folder yet.

**Nov, 9:** Follow instructions in class to set up your teams and shared folders. Also prepare a short (5-minute verbal) proposal for your project that covers i) data source; ii) research questions; iii) anticipated challenges; and iv) what results you expect to present on the final day of class.

**Nov., 16, 23 and 30:** Use the class time to meet with your team and ask questions when needed. (Note: You are expected to show up for class. We have other classwork to do yet.)

**Dec., 7:** Preview of your results. This is like a dress rehearsal to address any remaining problems before your final presentations.

**Dec., 14:** Present your finished work. Walk us through your project, including your source/motivations, finished notebook, modules/testing, and lessons learned. There will be no slides for this. Just use your work. See the instructions for the summary.ipynb file above.

**Project Idea:**

Comparing the effect of the pandemic on international supply chain between 2020-2021.

**To Do:**

Need to find and import a data source (See what US Postal Service has, Professor named another source...)

Start to manipulate the data here and form questions to answer

### Import Libraries

In [1]:
# Import
import pandas as pd
import numpy as np

### Load the Data

In [3]:
# load data
# data source from kaggle at: https://www.kaggle.com/sagarkandpal/effectsofcovid19ontradeat14july2021
data_url = 'https://raw.githubusercontent.com/patrickjhaggerty/DATA_6505_Final/main/effects-of-covid-19-on-trade-at-14-July-2021-provisional.csv'
df = pd.read_csv(data_url)

### Review Data Frame

In [4]:
df.head(10)

  Direction  Year        Date  ... Measure      Value Cumulative
0   Exports  2015  01/01/2015  ...       $  104000000  104000000
1   Exports  2015  02/01/2015  ...       $   96000000  200000000
2   Exports  2015  03/01/2015  ...       $   61000000  262000000
3   Exports  2015  04/01/2015  ...       $   74000000  336000000
4   Exports  2015  05/01/2015  ...       $  105000000  442000000
5   Exports  2015  06/01/2015  ...       $   76000000  518000000
6   Exports  2015  07/01/2015  ...       $   59000000  577000000
7   Exports  2015  08/01/2015  ...       $  111000000  688000000
8   Exports  2015  09/01/2015  ...       $   98000000  786000000
9   Exports  2015  10/01/2015  ...       $   89000000  875000000

[10 rows x 10 columns]

In [5]:
df.shape

(104665, 10)

In [6]:
df.columns

Index(['Direction', 'Year', 'Date', 'Weekday', 'Country', 'Commodity',
       'Transport_Mode', 'Measure', 'Value', 'Cumulative'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104665 entries, 0 to 104664
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Direction       104665 non-null  object
 1   Year            104665 non-null  int64
 2   Date            104665 non-null  object
 3   Weekday         104665 non-null  object
 4   Country         104665 non-null  object
 5   Commodity       104665 non-null  object
 6   Transport_Mode  104665 non-null  object
 7   Measure         104665 non-null  object
 8   Value           104665 non-null  int64
 9   Cumulative      104665 non-null  int64
dtypes: int64(3), object(7)
memory usage: 8.0+ MB

In [8]:
# A quick check of which commodities exist in DF
df['Commodity'].value_counts()

All                                42949
Milk powder, butter, and cheese    14210
Meat and edible offal              14178
Logs, wood, and wood articles       9490
Fish, crustaceans, and molluscs     7138
Non-food manufactured goods         4774
Electrical machinery and equip      4771
Mechanical machinery and equip      4768
Fruit                               2387
Name: Commodity, dtype: int64

In [9]:
# A quick check of which Countries exist in DF
df['Country'].value_counts()

All                            47722
China                          26040
East Asia (excluding China)     7157
United States                   7039
Australia                       4774
United Kingdom                  4772
European Union (27)             2387
Total (excluding China)         2387
Japan                           2387
Name: Country, dtype: int64

In [10]:
# Checks which years data is available for
df['Year'].value_counts().sort_index()

2015    16005
2016    16028
2017    15995
2018    16019
2019    16017
2020    16031
2021     8570
Name: Year, dtype: int64

### Look for Missing Data

In [11]:
# Finds the percent of values that are null in a given field
df.isnull().mean()

Direction         0.0
Year              0.0
Date              0.0
Weekday           0.0
Country           0.0
Commodity         0.0
Transport_Mode    0.0
Measure           0.0
Value             0.0
Cumulative        0.0
dtype: float64

In [12]:
# Looks at fields where quantity is blank
# df[df['Value'].isna()].head(5)
# Data has no blanks

### Add Additional Fields

### Check Data Types

In [13]:
df.dtypes

Direction         object
Year               int64
Date              object
Weekday           object
Country           object
Commodity         object
Transport_Mode    object
Measure           object
Value              int64
Cumulative         int64
dtype: object

### Describe Data Frame

In [14]:
df.describe()

                Year         Value    Cumulative
count  104665.000000  1.046650e+05  1.046650e+05
mean     2017.787159  2.863475e+07  4.927747e+09
std         1.897092  5.175917e+07  9.378260e+09
min      2015.000000  0.000000e+00  0.000000e+00
25%      2016.000000  1.000000e+06  1.080000e+08
50%      2018.000000  8.000000e+06  1.348000e+09
75%      2019.000000  2.700000e+07  4.549000e+09
max      2021.000000  5.490000e+08  6.436600e+10

### Q1: ____

### Q2: ____

### Lessons Learned

### Next Steps